.form{
    border-width: 5px;
    border-style:  solid;
    border-color: rgb(76, 102, 50);
    background-color: cyan;
}
#searchbox{
    text-align: center;
    margin-inline-start: 20px;
}

#Pcf{
    /* Form heading */
    text-align: center;
    font-weight: 900 inherit ;
    text-transform: uppercase;
    background-color: rgb(11, 126, 126);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;background-color: rgb(185, 178, 178);
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: left;
}
li, a{
    display: block;
    padding: 3px;
    
    text-align: center;
    color: white;
    text-decoration: none;
}

li, a:hover{
    color: rgb(3, 3, 3); 
}
.hover{
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

